{% extends 'admin/admin_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-hover">
    <tr>
      <td>Name</td>
      <td>Address</td>
      <td>Contact</td>
      <td>Email</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['name']}}</td>
      <td>{{i['place']}} {{i['post']}} {{i['pin']}}</td>
      <td>{{i['contact']}}</td>
      <td> {{i['email']}}</td>
      <td><a href="editworkshop?id={{i['lid']}}">edit</a></td>
      <td><a href="deleteworkshop?id={{i['lid']}}">delete</a></td>
    </tr>
     {% endfor %}
    <tr>
      <td colspan="6" align="center"><a href="/add_workshop">add</a></td>
    </tr>

  </table>
</form>
</body>
{% endblock %}
