{% extends 'admin/admin_index.html' %}
{% block body %}

<body>.
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-hover">
    <tr>
      <td>Name</td>
      <td>Address</td>
      <td>Gender</td>
      <td>Contact</td>
      <td>Email</td>
      <td>Proof</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{i['Firstname']}} {{i['Laststname']}}</td>
      <td>{{i['gender']}} </td>
        <td>{{i['place']}} {{i['post']}} {{i['pin']}}</td>
      <td>{{i['contact']}}</td>
      <td>{{i['email']}}</td>
      <td>{{i['proof']}}</td>
      <td><a href="approve_cab?id={{i['lid']}}">Approve</a></td>
      <td><a href="reject_cab?id={{i['lid']}}">Reject</a></td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
{% endblock %}